.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: $font-sans;
  color: $primary-black;
  @include font(1.6rem, 150%, 500);
  text-transform: uppercase;
}

.iconDropDown {
  transition: transform ease-out 0.35s;

  @include onHover() {
    cursor: pointer;
  }
}

.active {
  animation: rotate 0.35s ease-out;
  transform: rotate(180deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.container {
  margin: 2rem auto 0 auto;

  @extend %flexcolumn;
  min-width: 28rem;
  gap: 4rem;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $font-sans;
  color: $primary-black;

  @include maxQ(small) {
    align-items: center;
    justify-content: flex-start;

    gap: 1rem;
  }

  h3 {
    @include font(1.6rem, 150%, 500);
  }

  select {
    @include font(1.6rem, 150%, 400);
  }
}
