.title {
  font-family: $font-sans;
  color: $primary-black;
  @include font(1.6rem, 150%, 500);
  text-transform: uppercase;
}

.container {
  margin-top: 2rem;

  @extend %flexcolumn;
  min-width: 28rem;
  gap: 4rem;
}
