.footer {
  background-color: $primary-darkgray;
}

.logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(345deg)
    brightness(103%) contrast(102%);

  width: 9.7rem;
  height: 4.1rem;
}

.container {
  padding-top: 7.1rem;
  padding-bottom: 7.1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  gap: 1rem 1rem;
  justify-items: center;

  @include maxQ(small) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.subsribe {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
  max-width: 32rem;
  @extend %flexcolumn;
  align-items: flex-start;
  gap: 1.5rem;

  font-family: $font-sans;
  color: $primary-white;

  p {
    @include font(1.2rem, 150%, 400);
    white-space: pre-line;
  }

  h4 {
    @include font(1.2rem, 150%, 400);
  }

  .about {
    @extend %flexcolumn;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .subsribeEmail {
    @extend %flexcolumn;
    align-items: flex-start;
    gap: 1.4rem;
  }
}

.menu,
.categories {
  @extend %flexcolumn;
  align-items: flex-start;
  gap: 2rem;

  font-family: $font-sans;
  color: $primary-white;

  h2 {
    margin-bottom: 0.5rem;
    @include font(2rem, 150%, 600);
  }

  a {
    @include font(1.2rem, 150%, 400);
  }
}

.messengers {
  @extend %flexcolumn;
  align-items: flex-start;
  gap: 2rem;

  font-family: $font-sans;
  color: $primary-white;

  h2 {
    margin-bottom: 0.5rem;
    @include font(2rem, 150%, 600);
  }

  h4 {
    @include font(1.2rem, 150%, 400);
  }
}

.messengersContainer {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  h4 {
    font-family: $font-sans;
    color: $primary-white;
    @include font(1.4rem, 150%, 400);
  }

  .messengers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
}

.contactsContainer {
  @extend %flexcolumn;
  align-items: flex-start;
  gap: 2rem;

  font-family: $font-sans;
  color: $primary-white;
  white-space: nowrap;

  h2 {
    margin-bottom: 0.5rem;
    @include font(2rem, 150%, 600);
  }

  .phone {
    @include font(1.4rem, 150%, 600);
  }

  .workHours {
    @include font(1.2rem, 150%, 300);
  }

  .callback {
    @include font(1rem, 150%, 400);
  }

  .email {
    @include font(1.4rem, 1.8rem, 600);
  }

  .contactsDetail {
    @include font(1.2rem, 130%, 300);
  }
}

.contacts {
  @extend %flexcolumn;
  gap: 2rem;
}

.phoneBlock {
  @extend %flexcolumn;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}

.emailBlock {
  @extend %flexcolumn;
  justify-content: space-between;
  align-items: flex-start;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}

.priceList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceListButton {
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
}
