// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts
$font-serif: Arial, 'Helvetica Neue Light', sans-serif !default;
$font-sans: 'Inter', 'Times New Roman', Times, serif !default;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Colors
$primary-color-1: #ffffff;
$primary-color-2: #ededed;
$primary-color-3: #ffc85e;
$accent-color-1: #f3a50d;
$accent-color-2: rgba(188, 166, 122, 0.2);
$accent-color-3: #1fd85d;

// Explicitly set colors
$primary-green: #1fd85d;
$primary-gray: #ededed;
$primary-darkgray: #3f4e65;
$primary-yellow: #ffc85e;
$primary-orange: #f3a50d;
$primary-blue: #39acfd;
$primary-black: #111111;
$primary-white: #ffffff;
$primary-red: rgba(188, 166, 122, 0.2);

//breakpoints
$break-xs: 320px;
$break-sm: 779px;
$break-md: 1100px;
$break-lg: 1280px;
$break-xl: 1600px;

/// Container's maximum width
/// @type Length
$max-width: 1360px !default;

//variables for button component
$button-green: #66c05d;
$button-gray: #555248;
$button-red: #d4b098;
$button-white: #ffffff;
