.cards {
  padding-bottom: 5rem;
  @extend %flexcolumn;
  gap: 5rem;
  align-items: center;

  min-height: 134rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 29rem);
  row-gap: 2.1rem;
  column-gap: 2.1rem;

  @media (max-width: 1350px) {
    grid-template-columns: repeat(2, 29rem);
  }

  @include maxQ(medium) {
    grid-template-columns: 29rem;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}

.prev,
.next {
  @include onHover() {
    cursor: pointer;
  }
}
